<mat-card>
    BY ENTERING THE WEBSITE YOU AGREE TO THE 
    <a href="https://github.com/NeuronEyeProject/NeuronEye/blob/main/privacypolicy.md" target="blank">PRIVACY POLICY 📃</a> 
  </mat-card>

<mat-tab-group>


    <mat-tab label="URL Expander Function"> 
        Content 1 
    </mat-tab>


    <mat-tab label="Domain Information Function">
         Content 2
         </mat-tab>

    <mat-tab label="What is my IP? Function">
         Content 3 
        </mat-tab>

    <mat-tab label="Project Information">
         Content 3 
        </mat-tab>

    <mat-tab label="License">
        Content 3 
    </mat-tab>


     <mat-tab label="Privacy Policy">
          Content 3 
     </mat-tab>



  </mat-tab-group>

  <div class="footer">
    <p>© Copyright 2021, R. Iannelli</p>
  </div>