.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 11%, rgba(0,0,0,1) 92%);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 11%, rgba(255,0,0,1) 100%);

}

.manImg {
  padding-right:3px; 
  padding-top: 3px; 
 
}

.loader-container {
  position: fixed;
  width: 100%;
  z-index: 99;
}