
  
  .search-full-width {
    width: 100%;
  }

  .spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .grid-container {
    margin: 20px;
  }

  .logo-img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .search-form {
    display: block;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .search-box { 
    position: relative;
    padding: 10px;
  }
  

  .search-wrapper {
    position: relative;
    padding: 10px;
  }

  .search-wrapper {
    width: 500px;
    margin: auto;
    margin-top: 50px;
  }
  .search-box {
    position: absolute;
    bottom: 10px;
    right: 40px;
    width: 80%;

    border: 1px solid rgb(119, 119, 119);
    outline: 0;
    border-radius: 15px;
  }
  .search-box:focus {
    box-shadow: 0 0 15px 5px #ff0000;
    border: 2px solid #000000;
  }

 

.search-button {
	box-shadow: 0px 10px 14px -7px #73797a;
	background:linear-gradient(to bottom, #ff0000 5%, #000000 100%);
	background-color:#ff0000;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
  
  position: absolute;
  top: 70px;
  right: 190px;
 
}

.search-button:hover {

	background:linear-gradient(to bottom, #000000 5%, #ff0000 100%);
  background-color:#000000;
  
  position: absolute;
  top: 70px;
  right: 190px;
}
.search-button:active {
	position: absolute;
  top: 70px;
  right: 190px;
}

        
