<div class="grid-container"> 
    <h1 class="mat-h1">Database Search Result</h1>
    <mat-grid-list cols="2" rowHeight="350px">
      <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
             {{card.title}}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
             
                <h1 class="text-content"> {{card.content}} </h1>
                <img class="warning-icon" src="../assets/images/warning.png" />
                <a href="/domainsearch" class="return-button">Return</a>
            
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  



  <div class="footer">
    <p>© Copyright 2021, R. Iannelli</p>
  </div>