  
  .grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }
  
  .middle-small-logo {
    position: fixed;
    top: 100px;
    left: 100px;
    bottom: 100px;
  
    
  }
  
  .footer {
    position: relative;
    top: 10;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  .footer {
    position: relative;
    left: 0px;
    height: 30px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  .discord-logo-icon {
    scale: 10%;
    width: 10%;
  }

  .email-icon {
     width: 10%;
     position: relative;
  }

  .support-icon {
    position: absolute;
    width: 10%;
    top: 1px;
    left: 10px;
  }